<section id="what-i-do" in-view="background-grow">
  <header>
    <h1 in-view="animate">What I Do</h1>
    <div in-view="animate" ng-include="svgPath(worker.svg)"></div>
  </header>
  <div class="container">
    <div class="row slide-up" in-view="animate">
      <div class="col-md-6 skill-category">
        <div class="row">
          <div class="col-sm-4 col-md-12" in-view="draw">
            <img class="svg-drawing" in-view="draw" src="images/SVGs/palette.svg" />
          </div>
          <div class="col-sm-8 col-md-12 slider">
            <h2>UI + UX Design</h2>
            <p>Whether I am working on a straight forward marketing website or a complex web application I design workflows that guide the user to the information they are looking for. My degree in fine arts and years of design experience help me create beautiful user interfaces to express the character of the application.</p>
            <div class="weapons">
              <h3>Tools of Choice</h3>
              <img src="images/photoshop.png" alt="photoshop" />
              <img src="images/illustrator.png" alt="illustrator" />
              <img src="images/sketch.png" alt="sketch" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 skill-category">
        <div class="row">
          <div class="col-sm-4 col-md-12" in-view="draw">
            <div class="svg-drawing" in-view="draw" ng-include="svgPath(html.svg)"></div>
          </div>
          <div class="col-sm-8 col-md-12 slider">
            <h2>Development</h2>
            <p>Client side development is where I shine. I go beyond UI development to engineer data driven client side applications. I have experience working in several different developments stacks including robust single page applications and complex enterprise applications. I create concise, re-usable code with responsive designs.</p>
            <div class="weapons">
              <h3>Tools of Choice</h3>
              <img src="images/angularjs.png" alt="angular" />
              <img src="images/css3.png" alt="css3" />
              <img src="images/html5.png" alt="html5" />
              <img src="images/jquery.png" alt="jquery" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>